  <h2 mat-dialog-title>Add tags</h2>
  <mat-dialog-content>
    @if (taskSignal(); as taskSignal) {
      <section>
  <span>
    <mat-checkbox
      [checked]="taskSignal.completed"
      [indeterminate]="partiallyComplete()"
      (change)="update($event.checked)"
    >
      {{ taskSignal.name }}
    </mat-checkbox>
  </span>
        <span>
    <ul>
      @for (subtask of taskSignal.subtasks; track subtask; let i = $index) {
        <li>
          <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)">
            {{ subtask.name }}
          </mat-checkbox>
        </li>
      }
    </ul>
  </span>
      </section>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial (click)="submit()">Select</button>
  </mat-dialog-actions>
