<h2>
  {{ formGroup.controls.taskName.value }}
</h2>
@if (tagConfigurationResponse()) {
  <pre>{{ tagConfigurationResponse() | json }}</pre>
}
<div class="days">
  <mat-form-field>
    <mat-label>{{ dates[0] }}</mat-label>
    <input matInput placeholder="h.mm" [formControl]="formGroup.controls.monday">
    <mat-hint>Monday</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ dates[1] }}</mat-label>
    <input matInput placeholder="h.mm" [formControl]="formGroup.controls.tuesday">
    <mat-hint>Tuesday</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ dates[2] }}</mat-label>
    <input matInput placeholder="h.mm" [formControl]="formGroup.controls.wednesday">
    <mat-hint>Wednesday</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ dates[3] }}</mat-label>
    <input matInput placeholder="h.mm" [formControl]="formGroup.controls.thursday">
    <mat-hint>Thursday</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ dates[4] }}</mat-label>
    <input matInput placeholder="h.mm" [formControl]="formGroup.controls.friday">
    <mat-hint>Friday</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ dates[5] }}</mat-label>
    <input matInput placeholder="h.mm" [formControl]="formGroup.controls.saturday">
    <mat-hint>Saturday</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ dates[6] }}</mat-label>
    <input matInput placeholder="h.mm" [formControl]="formGroup.controls.sunday">
    <mat-hint>Sunday</mat-hint>
  </mat-form-field>
</div>
