<mat-card appearance="outlined" class="card-1">
  <mat-card-header>
    <mat-card-title>{{ getWeekRangeAsString() }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-total-line style="padding: 0 1rem;"></app-total-line>
    <div class="flex-column">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Unregistered tasks</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (timeRegistrationByTaskSignal()) {
            @for (task of timeRegistrationByTaskSignal()?.tasklessTimeRegistrations; track task) {
              <app-unregistered-task-registration [task]="task"></app-unregistered-task-registration>
            }
          }
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Registered tasks</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (timeRegistrationByTaskSignal()) {
            <div class="flex-column">
              @for (task of timeRegistrationByTaskSignal()?.taskTimeRegistrations; track task) {
                <app-task-registration [task]="task"></app-task-registration>
              }
            </div>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
<div class="bottom-right-fab-button">
  <button mat-fab extended (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
    New task
  </button>
</div>
